h1, h2, body {
    font-family:sans;
}

.d-1 { visibility:hidden; }
.d0 { font-size:3em; }
.d1 { font-size:2.5em; }
.d2 { font-size:2em; }
.d3 { font-size:1.5em; }
.d4 { font-size:1em; }
.d5 { font-size:0.5em; }
